* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(4,1fr); /* Dos columnas: 1/4 para el aside, 3/4 para el main */
    min-height: 100vh; /* Asegurar que la altura mínima sea el 100% de la ventana */
}

header {
    background-color: #573bb6;
    grid-column: 1 / -1; 
    padding: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
.admin h5{
color: white;
}
.contenedorHeader {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre el logo y el buscador */
}

.imgLogo {
    width: 140px;
    height: 124px;
}


.barradelBuscador {
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 20px;
}

.lupita {
    cursor: pointer;
}

main {
    grid-column: 2 /6 ; /* Hacer que el main ocupe la segunda columna */
    padding: 20px;
}
.busqueda{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
aside {
    grid-column: 1 / 2; /* Hacer que el aside ocupe la primera columna */
    border-right: 2px solid #573bb6;
    padding: 20px;
    margin-top: -535px;
}
.agregar{
    background-color: #573bb6;
}

.contenedorAside{
    font-size: 20px;
    margin-left: 16px;
}
.division a{
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}
.division{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:rgb(151, 5, 151);
}

.icons {
    margin-right: 10px;
}

.contenedorForm{
   border: #573bb6 solid 2px;
   padding: 25px;
   margin-top: 20px;
}
.input{
    padding: 8px;
    color: blueviolet;
}
input{
    padding: 6px;
    border-radius: 10px;
}
#tipo{
    padding: 7px 67px 7px 67px;
    background-color: white;
    border-radius: 10px;
}
.imagen{
    padding: 7px 67px 7px 67px;
    background-color: white;
    border-radius: 10px;
}

.boton{
    padding: 8px 16px;
    margin: 5px 10px;
    border-radius: 10px;
    background-color: blueviolet;
    border: none;
    text-decoration: none;
    color: white;
}