.titulo {
    text-align: center;
    color: white;
    font-family: serif;
}

main {
    background-image:url("img/registro2.jpg");
    background-size: cover;
    height: 100vh;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: 900;
}

label{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#nombre-usuario{
    width: 400px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222)
    }

#contraseña{
    width: 400px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222)
}

p{
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.link {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.link:hover{
    color: white;
}