

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Paytone+One&family=Permanent+Marker&family=Yatra+One&display=swap');

:root{
    --color-linea: rgb(21, 15, 139);
    --color-titulo: rgb(37, 54, 124);
    --color-header-footer: #573bb6;
    --color-subtitulos:rgb(72, 100, 201);
    --color-celular: rgb(137, 88, 230);
    --letra-font: "Permanent Marker", cursive;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
    grid-row: 1;
    grid-column: 1/3;

}

.contenedorHeader{
    display: flex;
    background-color: var(--color-header-footer);
}

.imgLogo{
    width: 200px;
    height: 200px;
    margin-top: -20px;
    margin-bottom: -40px;
    margin-left: 2%;
}


.buscador{
    margin: 35px 40px;
    width: 100%;
}

.barradelBuscador{
    width: 96%;
    height: 40px ; 
    border-radius: 25px;
    position: relative;
}

.lupita{
    position: absolute;
    top: 41px;
    margin-left: -45px;
}


/*botones del*/
.ususario, .corazon, .carrito{
    background-color: aliceblue;
    border-radius: 100%;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 18px;
    color: black;
    height: 10px; 
}
.usuarios{
color: white;
text-decoration: none;
}

.BotonesDelHeader {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-right: 60px;
}


.BotonesDelHeader .ususario {
    position: relative;
}

.BotonesDelHeader .registros {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4121a1;
    border-radius: 5px;
    padding: 10px;
    width: 150px; /* Ajusta el ancho según sea necesario */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.ususario:hover> .registros {
    display: block;
    background-color: #4121a1;
}
/* nav */


.Nav, .botonNav {
    display: flex;
    align-items: center;
    color: aliceblue;
    font-size: 1.7vw;
    list-style: none;
}


nav{
    padding: 9px 0 9px 0;
    background-color: #4121a1;
}

ul .botonNav {
    text-decoration: none;
}

ul .botonNav:hover {
    font-size: 2vw;
    padding: 3px;
    margin-left: -20px;
}


.Nav{
    gap: 5%;
    justify-content: center;
}

.botonNav1{
    color: white;
    font-size: 2vw;
    text-decoration: none;
}


.Nav li ul {
    list-style: none;

    display: none;

    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    left: 50%; 
    transform: translateX(-50%); 
}

.Nav li:hover > ul {
    display: block;
    background-color: #4121a16f;
}

.contenedorNav li :hover{
    background-color: #4121a16f;
    padding: 5px;
}


.contenedorNav {
    z-index: 1;
    position: relative;
}

footer{
    background-color: var(--color-header-footer);
    /* grid-row: 4; */
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.footer1, .footer2{
    width: 50%;
    padding-inline: 3%;

}

.footer1 p{
    color: aliceblue;
    font-family: var(--letra-font);
    font-weight: 100;
    font-style: normal;
    font-size: 1.2vw;
    margin-bottom: 0px;
}

.footer2 h2, .listaFooter{
    color: aliceblue;
    font-family: var(--letra-font);
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: 1.2vw;
   
}
.footer2 h2{
    margin-top: 3%;
}
.listaFooter{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}


b{
    font-size: 2.5vw;
}

.asideCelular{
    display: none;
}

.iconosManual{
    display:none;
    cursor: pointer;
}

.lupitaPepino{
    display: none;
    background-color: aliceblue;
    border-radius: 100%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    color: black;
    height: 20px; 
    display: none;
    position: relative;
    z-index: 2;
}


.barraIcono{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out ;
    transition: all 0.3s ease-in-out ;
    background-color: aliceblue;
}

.navResposive{
    align-items: center;
    margin-inline: 3% ;
    display: flex;
}

.barraBuscadorNAV{
    display: none;
}

.barraBuscadorNAV.ON{
    padding-left: 30px;
    height: 27px;
    left: 65px;
    top: -2px;

    border-radius: 20px;
    width: 70%;
    height: 30px;
    transition: 2s;
}

.barraBuscadorNAV{
    width: 0%;
    height: 27px;
    left: 75px;
    top: -2px;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
}


.containerBuscador{
    width: 60%;
    background-color: antiquewhite;
}



@media(max-width:701px){
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 60px 1fr auto;
    }

/*todo lo relacionado con el HEADER*/
    header{
        grid-column: 1;
        grid-row: 1;
    }

    .botonesCElularNAV{
        display: flex;
        gap: 20px;
    }

    .lupitaPepino{
        display: block;
    }

    .contenedorHeader{
        justify-content: space-between;
    }


    .buscador{
        display: none;
    }


    /*Nav*/

    .iconosManual{
        display: block;
    }

    .iconosManual.active.barraIcono:nth-child(2){
        opacity: 0%;
    }

    .iconosManual.active.barraIcono:nth-child(1){
        transform: translateY(8px) rotate(45deg) 
    }

    .iconosManual.active.barraIcono:nth-child(3){
        transform: translateY(-8px) rotate(-45deg)
    }

    .Nav{
        position: fixed;
        left: -100%;
        gap: 0;
        top: auto;
        width: 20%;
        flex-direction: column;
        background-color: #4121a1de;
        transition: 0.3s;
        align-items: start;
        padding-left: 15px;
    }

    .botonNav1{
        display: none;
    }

    .botonNav{
        font-size: 18px;
        margin: 10px 0px;
    }

    .Nav.active{
        left:0;
    }

    .barraBuscadorNAV{
        display: block;
    }

    
}