*{
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: white;
    font-family: serif;
}
main{
    padding: 0;
    margin: 0;
}
main {
    background-image:url("img/registro2.jpg");
    background-size: cover;
    height: 100vh;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 15px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: 600;
}
label{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/* .formulario{
    margin-bottom: 30px;
} */
#email{
width: 400px;
height: 32px;
border: 1px solid;
border-radius: 5px;
border-color: rgb(228, 226, 222);
}
#fecha-nacimiento {
    width: 400px;
    height: 32px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222);
    color:rgb(134, 133, 131) ;
}
#nombre, #apellido,.usuario{
    width: 400px;
    height: 32px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222);
}
#contraseña{
    width: 400px;
    height: 32px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222);
}
.form-text{
    color: white;
    font-weight: 900;
}

@media (min-width:1500px) {
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        padding: 40px;
        margin: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: white;
        font-weight: 900;
    }
    label{
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
    }
    #nombre-apellido{
    width: 420px;
    height: 40px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222)
    }
    #email{
    width: 420px;
    height: 40px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222);
    }
    #fecha-nacimiento {
        width: 420px;
        height: 40px;
        font-size: 14px;
        border: 1px solid;
        border-radius: 5px;
        border-color: rgb(228, 226, 222);
        color:rgb(134, 133, 131) ;
    }
    #usuario{
    width: 420px;
    height: 40px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222)
    }
    #contraseña{
    width: 420px;
    height: 40px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222)
    }
    .texto{
        font-size: 18px;
    }
    .btn{
        margin: 10px;
        font-size: 30px;
    }   
    
}
@media (min-width:2000px) {
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        padding: 50px;
        margin: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: white;
        font-weight: 900;
    }
    label{
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 34px;
    }
    #nombre-apellido{
    width: 490px;
    height: 50px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222)
    }
    #email{
    width: 490px;
    height: 50px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222);
    }
    #fecha-nacimiento {
        width: 490px;
        height: 50px;
        font-size: 14px;
        border: 1px solid;
        border-radius: 5px;
        border-color: rgb(228, 226, 222);
        color:rgb(134, 133, 131) ;
    }
    #nombre-usuario{
    width: 490px;
    height: 50px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222)
    }
    #contraseña{
    width: 490px;
    height: 50px;
    font-size: 14px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222)
    }
    .texto{
        font-size: 20px;
    }
    .btn{
        margin: 10px;
        font-size: 34px;
    }   
    
}