.titulo {
    text-align: center;
    color: white;
    font-family: serif;
    font-weight: 900;
}

main {
    background-image:url("img/registro2.jpg");
    background-size: cover;
    height: 100vh;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: 900;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    
}

#payment_method{
    width: 255px;
    height: 35px;
}