@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Paytone+One&family=Permanent+Marker&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Yatra+One&display=swap");

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

:root {
  --color-linea: rgba(21, 15, 139, 0.596);
  --color-header-footer: #573bb6;
  --letra-font: "Permanent Marker", cursive;
  --color-boton: rgb(102, 70, 182);
  --color-boton_hover: #5821a1;
}

.contenedorHeader {
  display: flex;
  background-color: var(--color-header-footer);
  align-items: center;
  justify-content: space-between;
  padding-inline: 2%;
  gap: 20px;
}

.contenedorHeader img {
  width: 220px;
  height: 220px;
  margin: -20px 0 -40px 0;
}

.carritoIcon,
.corazonIcon,
.usuarioIcon {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;

  transition: font-size 0.2s ease;
}

.usuarioIcon:hover,
.corazonIcon:hover,
.carritoIcon:hover {
  font-size: 27px;
}

.BotonesDelHeader {
  display: flex;
  height: 50px;
  gap: 10px;
  align-items: center;
}

.BotonesDelHeader a {
  text-decoration: none;
}

.buscador {
  background-color: white;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  gap: 10px;
  position: relative;
  padding-left: 0.2%;
  padding-right: 0.8%;
}

.barradelBuscador {
  width: 95%;
  height: 80%;
  border-radius: 30px;
  padding-left: 1%;
}

.usuariosOn,
.usuariosOff {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: font-size 0.3s ease;
}

.usuariosOn:hover {
  font-size: 1.4vw;
}

.lupaIcon {
  padding-right: 10px;
  position: absolute;
}

/*NAVEGADOR*/

.Nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #4121a1;
  font-size: 1.5vw;
  padding: 1% 0 0 0;
}

.botonNav {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.8vw;
  transition: background-color 0.25s ease;
  transition: font-size 0.25s ease;
}

.botonNav:hover {
  font-size: 2.3vw;
}

.palabraClave {
  position: relative;
  padding-bottom: 15px;
  display: flex;
}

.Nav li {
  list-style: none;
}

.botonNav1 {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.5vw;
  transition: font-size 0.25s ease;
}

.botonNav1:hover {
  font-size: 2vw;
}

/*PARTES DEL NAV*/

.listaDesplegable_1 {
  display: none;
  left: 28.6%;
  padding: 0 10px 10px 10px;
  top: auto;
  width: auto;
  position: absolute;
  background-color: #583bb6;
  gap: 10px;

  z-index: 10;
}

.botonNav:hover + .listaDesplegable_1,
.listaDesplegable_1:hover {
  display: block flex;
  flex-direction: column;
}

.listaDesplegable_2 {
  display: none;
  left: 39.5%;
  padding: 0 0 10px 10px;
  top: auto;
  position: absolute;
  width: 10%;
  background-color: #583bb6;
  gap: 10px;

  z-index: 10;
}

.botonNav:hover + .listaDesplegable_2,
.listaDesplegable_2:hover {
  display: block flex;
  flex-direction: column;
}

.listaDesplegable_3 {
  display: none;
  left: 51.5%;
  padding: 0 10px 10px 10px;
  top: auto;
  width: auto;
  position: absolute;
  background-color: #583bb6;
  gap: 10px;

  z-index: 10;
}

.botonNav:hover + .listaDesplegable_3,
.listaDesplegable_3:hover {
  display: block flex;
  flex-direction: column;
}

.listaDesplegable_4 {
  display: none;
  left: 63%;
  padding: 0 0 10px 10px;
  top: auto;
  position: absolute;
  width: 10%;
  background-color: #583bb6;
  gap: 10px;

  z-index: 10;
}

.botonNav:hover + .listaDesplegable_4,
.listaDesplegable_4:hover {
  display: block flex;
  flex-direction: column;
}

footer {
  background-color: var(--color-header-footer);
}

/*Productos*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: rgb(242, 242, 242); */
}

.contenidoImg,
.contenido-infoTarjeta {
  padding: 10px 10px 14px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.contenidoImg {
  row-gap: 5px;
  position: relative;
}

.inconoFavoritos {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-size: 28px;
  color: rgb(80, 29, 175);
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}

.Titulo {
  max-width: 250px;
  text-align: center;
}

.butonTarjeta {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.botontarjeta {
  width: 45%;
}

.tarjetaImgen {
  position: relative;
  height: 350px;
  width: 250px;
  padding: 3px;

  transition: height width font-size 0.1s ease;
}

.tarjetas:hover .tarjetaImgen {
  position: relative;
  height: 363px;
  width: 263px;
  padding: 3px;
}

.tarjetas:hover .Titulo {
  font-size: 25px;
}

.tarjetas:hover .precio {
  font-size: 22px;
}

.tarjetaImgen .imagenTarjeta {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid rgb(231, 218, 255);
}

.tarjetas {
  background-color: white;
  border-radius: 15px;
  width: 275px;
}

.contenedorProductos {
  max-width: 1120px;
  width: 100%;
  font-family: "Poppins", sans-serif;

  background-color: #eeeeee;
  padding: 30px;
}

.contenidoProductos {
  margin: 0 40px;
}

.precio {
  font-size: 20px;
}

.superponer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #b0a6d5;
  top: 0;
  left: 0;
}

/*botones del producto*/

.botontarjeta1 {
  text-decoration: none;
  background-color: var(--color-boton);
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  width: 45%;
  height: 50px;
  border: none;

  font-size: 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.botontarjeta1:hover {
  background-color: var(--color-boton_hover);
}

.botontarjeta2 {
  text-decoration: none;
  background-color: var(--color-boton);
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  width: 45%;
  height: 50px;
  border: none;

  font-size: 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.botontarjeta2:hover {
  background-color: var(--color-boton_hover);
}
