*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
/* header */
.contenedorHeader{
    background-color: #573bb6;
}
.contenedorHeader{
    display: flex;
}
.imgLogo{
    width: 12%;
    height: 100px;
    margin-top: 10px;
}
.buscador{
    margin:35px 40px;
}
.barradelBuscador{
    width: 55%;
    height: 40px ; 
    border-radius: 25px;
    position: absolute;
}
.lupita{
position: relative;
left: 39rem;
top: 1px;
}
.BotonesDelHeader{
    display: flex;
    gap: 10px;
    margin-left: 55%;
}
.botonHeader{
    border-radius: 100%;
    width: 48px;
    height: 47px;
    margin-top: 30px;
}
.favoritos{
    font-size: 20px;
    color:white;
}
/* nav */
ul, li {
    list-style: none;
}
.Nav, .botonNav {
    display: flex;
    align-items: center;
}
nav{
    padding: 9px 0 9px 0;
    background-color: #4121a1;
}
ul a {
    text-decoration: none;
    color: white;
    display: block;
    /* padding: 10px 20px; */
    transition: background-color 0.3s ease;
}
ul a:hover {
    background-color: rgba(0, 0, 255, 0.323);
}
.botonNav, li a {
    color: white;
    font-size: 20px;
}
.Nav{
    margin-left: 23rem;
    gap: 10px;
}
.contenedorNav li ul {
    display: none;
    position: absolute;
    max-width: 150px;
    z-index: 10; /* Asegúrate de que la lista esté sobre otros elementos */
}
.contenedorNav li:hover > ul {
    display: block;
    background-color: #4121a1c1;
    padding: 0 30px 0 30px;
}
.contenedorNav {
    position: relative;
    z-index: 1;
}
/* Carrucel  principal*/
.contenedorCarrusel{
    margin-top: 20px;
}
.contenedorCarrusel{
    width: auto;
    height: 380px;
    background-color: black;
    overflow: hidden;
}
.carruseles{
    width: 500%;
    height: 100%;
    border: #4121a1 solid 2px;
    display: flex;
}
.sliderSection{
    width:calc(100%/3) ;
}
.sliderSection img{
    width: 100%;
    height: 100%;
    /* left: 20px;  */
}


/* botones del carrucel */
.btnleft:hover,.btnRight:hover{
    color:white;
}
.btnleft,.btnRight{
    display: flex;
    position: absolute;
    font-size: 2rem;
    top: 72%;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #eee9e981;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}
.btnleft{
    left: 10px;
}
.btnRight{
    right: 10px;
}
/* carrusel de novedades */
.contenedorNovedades{
    margin-top: 30px;
    margin-bottom: 40px;
}
.contenedorNovedades{
    width: auto;
    height: 400px;
    background-color: rgb(255, 253, 253);
    overflow: hidden;
    left: 10px;
}
.contenedorTarjetas{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 15px;
}

.tarjetas{
    width:calc(100%/2) ;
    margin-left: 20px;
} 
.tarjetas img{
    width: 220px;
    height: 70%;
    object-fit: cover;
} 
.botonINovedades:hover,.botonDNovedades:hover{
    color:white;
}
.botonINovedades,.botonDNovedades{
    display: flex;
    position: absolute;
    font-size: 2rem;
    top: 145%; 
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #d4d2d2a9;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}
/* botones del carrucel */
.decoracioSeparador{
    display: flex;
    flex-direction: column;
    background-color: #4121a1;
    color: white;
    align-items: center;
    margin: 20px 0 40px 0;
    padding: 30px;
}
.botonDNovedades{
    right: 10px;
}
.botonINovedades{
    left: 10px;
}  
/* Decoracion */

.botonesNovedades{
    display: flex;
    border-radius: 30px;
    gap: 5px;
}
 /* .tarjetas{
    width:calc(100%/6) ;
} */

.precio{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 6px 0 6px 0;
}
.comprar{
    background-color:#4121a1 ;
    color:white;
    display: flex;
    gap: 1px;
    padding: 9px 20px 9px 20px;
    border-radius: 10px;
}

.novedades{
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.detalles{
    padding: 9px 10px 9px 10px;
    border:solid 1px #4121a1;
    background-color:#4121a1 ;
    color:white;
    border-radius: 10px;
    display: flex;
    gap: 3px;
} 
.detalles a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.tarjetas h5{
    font-size: 20px;
    display: flex;
    gap: 10px;
    color: blueviolet
}
hr{
    color: #573bb6;
    border: #4121a1 1px solid;

}
.nombre{
    display: flex;
    flex-wrap: wrap-reverse;
    color: black;
    font-size: 10px;
}
.corazon{
    width: 20px;
}
.decoracionNovedades{
    padding:  10px 6rem 10px 6rem; 
    border: #4121a1 solid 1px;
    background-color: #4121a1;
 
    margin-left: 40%;
}
.contenedorNovedadesDeSemana{
    display: flex;
}
.decoracionNovedades{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
 
.decoracion{
    color :#ffffff;
    display:flex;
    background-color: #4121a1;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    margin: 40px 0 40px 0;
    /* text-align: center; */
     /* margin-left:60px ; */
}
.prueba{
    display:flex;
    margin: auto;
    font-size: 30px;
    gap: 5px;
    padding: 10px;
}