h1 {
    text-align: center;
    color: white;
    font-family: serif;
}
main {
    background-image:url("img/registro2.jpg");
    background-size: cover;
    height: 100vh;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
label{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#nombre-apellido{
width: 400px;
height: 40px;
border: 1px solid;
border-radius: 5px;
border-color: rgb(228, 226, 222)
}
#email{
width: 400px;
height: 40px;
border: 1px solid;
border-radius: 5px;
border-color: rgb(228, 226, 222);
}
#fecha-nacimiento {
    width: 400px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(228, 226, 222);
    color:rgb(134, 133, 131) ;
}
#nombre-usuario{
width: 400px;
height: 40px;
border: 1px solid;
border-radius: 5px;
border-color: rgb(228, 226, 222)
}
#contraseña{
width: 400px;
height: 40px;
border: 1px solid;
border-radius: 5px;
border-color: rgb(228, 226, 222)
}
.form-text{
    color: white;
    font-weight: bold;
}

