*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
/* header */
.contenedorHeader{
    background-color: #573bb6;
}
.contenedorHeader{
    display: flex;
}
.imgLogo{
    width: 12%;
    height: 110px;
    margin-top: 10px;
}
.buscador{
    margin:45px 40px;
}
.barradelBuscador{
    width: 55%;
    height: 45px ; 
    border-radius: 25px;
    position: absolute;
}
.lupita{
position: relative;
left: 49rem;
top: 1px;
}
.BotonesDelHeader{
    display: flex;
    gap: 10px;
    margin-left: 55%;
}
.botonHeader{
    border-radius: 100%;
    width: 48px;
    height: 47px;
    margin-top: 40px;
}
/*botones productos*/
.botonesProductos{
    background-color: rgb(255, 255, 0);
    width: 130px;
    margin-left: 45%;
    border-right:  10px solid;
    padding-bottom: 1px;
    padding-top: 10px;
}
.pepino{
    display: none;
}
.linkProducto{
    text-decoration: none;
    color: black;
}
/*nav*/
nav{
    grid-column: 3;
    background-color:#4121a1;
}
.botonesNav{
    display: flex;
    gap: 2%;
    justify-content: center;
}
.botonNav{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 22px;
    padding-left: 1%;
    padding-right: 1%;
}
.linea{
    border-right: 1px solid black;
}
.botonNav:hover{
    color: blue;
}
/* Carrucel  principal*/

.contenedorCarrusel{
    margin-top: 30px;
}
.contenedorCarrusel{
    width: 100%;
    height: 50%;
    background-color: black;
    /* box-shadow:  0 8px 32px 0 rgba(0,0,0,0.66); */
    overflow: hidden;

}
.carruseles{
    width: 440%;
    height: 100%;
    display: flex;

}
.sliderSection{
    width:500% ;
    height: 420px;
}
.sliderSection img{
    width: 230vh;
    height: 100%;
}

/* botones del carrucel */
.btnleft:hover,.btnRight:hover{
    color:white;
}
.btnleft,.btnRight{
    display: flex;
    position: absolute;
    font-size: 2rem;
    top: 50%;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #eee9e981;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}
.btnleft{
    left: 10px;
}
.btnRight{
    right: 10px;
}
/* carrusel de novedades */
.contenedorNovedades{
    margin-top: 30px;
}
.contenedorTarjetas{
    width: 300%;
    height: 150%;
    display: flex;
    gap: 40px;

}
.contenedorNovedades{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 253, 253);
    overflow: hidden;
}
.botonINovedades:hover,.botonDNovedades:hover{
    color:white;
}
.botonINovedades,.botonDNovedades{
    display: flex;
    position: absolute;
    font-size: 2rem;
    top: 120%; 
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #eee9e981;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

/* botones del carrucel */

.botonDNovedades{
    right: 10px;
}
.botonINovedades{
    left:  10px;
}  
/* Decoracion */
.tarjetas{
    height: 400px;
    margin-left: 13px;
 } 
 .botonesNovedades{
    display: flex;
    border-radius: 30px;
    gap: 5px;
 }

.tarjetas img{
    width: 33vh;
    height: 77%;
}
.precio{
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin: 6px 0 6px 0;
}
.comprar{
    background-color:#4121a1 ;
    color:white;
    display: flex;
    gap: 1px;
    padding: 9px 20px 9px 20px;
    border-radius: 10px;
}

.novedades{
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.detalles{
    padding: 9px 20px 9px 20px;
    border:solid 1px #4121a1;
    background-color:#4121a1 ;
    color:white;
    border-radius: 10px;
    display: flex;
    gap: 3px;
} 
.detalles a {
    color: white;
    text-decoration: none;
}
.tarjetas h5{
    font-size: 23px;
    display: flex;
    gap: 10px;
    color: blueviolet
}
hr{
    color: #573bb6;
    border: #4121a1 1px solid;

}
.nombre{
    display: flex;
    flex-wrap: wrap-reverse;
    color: black;
    font-size: 20px;
}
.corazon{
    width: 20px;
}
/* .detalles:hover,.comprar:hover{
    color: white;
} */
/* .tarjetas{
    border: #573bb6 solid 3px;
} */