
*{
    margin: 0;
    padding: 0;
}
/* header */
.contenedorHeader{
    background-color: #573bb6;
}
.contenedorHeader{
    display: flex;
}
.imgLogo{
    width: 12%;
    height: 100px;
    margin-top: 10px;
}
.buscador{
    margin: 35px 40px;
}

.barradelBuscador{
    width: 55%;
    height: 40px ; 
    border-radius: 25px;
    position: absolute;
}

.lupita{
position: relative;
top: 5px;
margin-left: 100%;
}

.carrito{
    border-radius:50% ;
    background-color: aliceblue;
}
.BotonesDelHeader{
    display: flex;
    gap: 10px;
    margin-left: 55%;
}
.botonHeader{
    border-radius: 100%;
    width: 48px;
    height: 47px;
    margin-top: 30px;
}
.favoritos{
    font-size: 20px;
    color:white;
}


/* nav */
ul, li {
    list-style: none;
}

.Nav, .botonNav {
    display: flex;
    align-items: center;
}

nav{
    padding: 9px 0 9px 0;
    background-color: #4121a1;
}

ul a {
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 5px ;
}

ul a:hover {
    background-color: rgba(0, 0, 255, 0.323);
}


.Nav{
    gap: 5%;
    justify-content: center;
}

.botonNav, li a {
    color: white;
    font-size: 20px;
}

.contenedorNav li ul {
    display: none;
    position: absolute;
    margin-top: 6px;
    width: 100%;
    text-align: center;
    z-index: 2;
    left: 50%; 
    transform: translateX(-50%); 
}

.contenedorNav li:hover > ul {
    display: block;
    background-color: #4121a1c1;
}

.contenedorNav {
    z-index: 1;
    position: relative;
}