* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 16% 1fr;
    grid-template-rows: 6% 1fr;
    height: auto;
}

header{
    grid-column: 1/-1;
    grid-row: 1;
    display: flex;
    flex-direction: row;
   
}
header{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
aside {
    grid-row: 2; 
    grid-column: 1;
    background-color: #573bb6;
}

main {
    margin-left: 30px;
    grid-row: 2;/* Asegura que el main esté en la segunda fila */
    grid-column: 2; /* Asegura que el main esté en la segunda columna */
}

.contendorHeader {
    background-color: #573bb6;
    padding-right: 60px;
}

.imgLogo {
    width: 144px;
    height: 130px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    gap: 50px;
}
.btnEditar{
    background-color: #4f2697;
    color: white;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}
.acciones{
    margin-top: 10px;
}
.btnEliminar{
    background-color: #b22323;
    color: white;
    padding: 10px 10px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 6px;
    text-decoration: none;
}
.agregar  {
    color: white;
    background-color: #573bb6;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    text-decoration: none;
}

nav h2 {
    color: white;
    margin-right: 20px;
}
.division{
    margin-top: 23px;
}
.division a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-top: 24px;
    text-align: center;
}
.icons{
    color: white;
    font-size: 30px;
}
.buscador {
    display: flex;
    align-items: center;
}

.barradelBuscador {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 10px;
}

.icons {
    margin-right: 10px;
}
.contenedorTabla{
    width: 97%;
    overflow: auto;
    height: 500px;
   
}
.table {

    border-collapse: collapse; /* Añade border-collapse para mejor apariencia */
}

.table th, .table td {
    border: 1px solid #573bb6;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.contenedorForm {
    display: flex;
    flex-direction: column;
}
